body{
    background-color: lightblue;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    background-color: orange;
    width: 100vh;
    height: 100vh;
    border-radius: 100%;

}

@media screen and (max-width: 820px){
}