body{
    background-color:black
}

p{
    font-size: 125%;
    color:whitesmoke
}

h1{
    text-align: center;
    font-size: 350%;
    color:whitesmoke
}
h2{
    font-size: 200%;
    color: whitesmoke;
}
a{
    font-size: 150%;
}