body{
    background-color:white
}

.wrapper{
    width:90%;
    display:grid;
    grid-template-rows:80px 50px auto 100px;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

Header{
    grid-area: header;
}

main{
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

p{
    font-size: 100%;
    color:black
}

h1{
    text-align: center;
    font-family: Arial;
    font-size: 22px;
    color:black
}
h2{
    font-size: 140%;
    color: black;
}
a{
    font-size: 110%;
    text-decoration: none;
}
.altp{
    text-align: center;
    background-color: black;
    color:whitesmoke
    
}
.altp2{
    text-align: right;
}
.altp3{
    border: 1px solid black;
    border-radius: 3px;
}
footer{
    border: 3px solid black;
    border-radius: 5px;
    background-color: black;
    grid-area: footer;
}
.footerp{
    font-size: 105%;
    color: whitesmoke;
}
nav{
    text-decoration: underline;
    grid-area: nav;
    text-decoration: none;
}
nav > ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
nav li{
    list-style-type: none;
    text-align: center;
    display: grid;
    align-self: stretch;
    align-items: stretch;
}
