body{
    margin: 0;
}

div{
    background-color: lightblue;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 60vh;
    width: 120vh;
}

.cirkel{
    background-color: orange;
    width: 60vh;
    height: 60vh;
    border-radius: 100%;
}
