table,th ,td{
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 1000px;
}

tr:nth-child(odd){
    background-color:red;
    color:whitesmoke;
}
tr:nth-child(even){
    background-color:yellow;
}

th{
    background-color: whitesmoke;
    color: black
}

th,td:nth-child(1){
    text-align: left;
}
th,td:nth-child(2){
    text-align: center;
}
th,td:nth-child(3){
    text-align: center;
}
th,td:nth-child(4){
    text-align: right;
}

caption{
    font-size: 50px;
}